*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
}

body{
  background-color: white;
}

li {
  list-style: none;
}

.wrapper{
  width: 100%;
}

.contents_container{
  width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

header{
  padding: 0 10px 0 2rem;
  background-color: rgb(210, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

header img{
  width: 140px;
  height: auto;
  margin: 8px 0;
}

header div{
  display: flex;
  align-items: center;
}

span.material-symbols-outlined{
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
  color: #0000A0;
  cursor: pointer;
}

nav{
  display: flex;
  color: black;
}

nav a{
  margin: 0 10px;
  padding: 3px 10px;
  background-color: #0000A0;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

nav a:hover{
  color: #dfbbff;
}

main{
  padding-top: 66px;
}

.welcome_container{
  position: relative;
  z-index: 1;
}

.welcome_container img{
  width: 100%;
  height: auto;
}

.welcome_container p{
  width: 100%;
  position: absolute;
  color: white;
  font-size: 50px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px rgba(0, 0, 160, 0.6);
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.information_container{
  border: #00EDFF 3px solid;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 20px;
}

.information_container h2{
  text-align: center;
  border-bottom: rgb(165, 165, 165) 1px solid;
  padding-bottom: 10px;
}

section {
  padding: 20px 0;
  scroll-margin-top: 56px;
}

.subject_container{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  border-bottom: rgb(165, 165, 165) 1px solid;
  padding: 5px 0;
}

.date{
  text-align: center;
}

.genre{
  text-align: center;
  background-color: #00ffc3;
  border-radius: 20px;
  margin: 2px 20px;
}

.section_left_container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 30px;
}

.section_right_container{
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 30px;
}

.sentence_container p{
  padding: 4px 0;
}

.section_image{
  align-content: center;
}

.section_image img{
  width: 100%;
  height: auto;
}

.sentence_container table{
  width: 100%;
  border-collapse: collapse;
}

.sentence_container table tr{
  border-top: rgb(165, 165, 165) 1px solid;
  border-bottom: rgb(165, 165, 165) 1px solid;
}

.sentence_container table td{
  padding: 4px 0;
}

.list_container{
  display: flex;
}

.sentence_container ul{
  padding-bottom: 1rem;
}

.sentence_container li{
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 24px;
  text-indent: -22px;
}

.list_container p{
  align-content: end;
  padding: 0;
  width: 48px;
}

footer{
  background-color: #0000A0;
  color: white;
}

footer h2{
  text-align: center;
  padding: 10px;
}

.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 44px;
}

.sns_container{
  width: 200px;
}

.sns_container ul{
  display: flex;
}

.sns_container li{
  margin-left: 8px;
}

.sns_container img{
  transition: all 0.3s;
}

.sns_container img:hover{
  transform: scale(1.2);
}

.support_container{
  display: flex;
  flex-direction: column;
}

.support_container a{
  color: white;
  text-decoration: none;
}

.support_container a:hover{
  color: #dfbbff;
}

.support_container a:first-child{
  font-size: 20px;
  font-weight: bold;
}

.support_container a:last-child{
  text-align: end;
}

.copyright{
  text-align: center;
  font-size: 10px;
  padding: 3px 0;
}

@media screen and (1600px < width){
  .contents_container{
    width: 1280px;
  }
}

@media screen and (1440px < width <= 1600px){
  .contents_container{
    width: 1152px;
  }
}

@media screen and (1024px < width <= 1440px){
  .contents_container{
    width: 1010px;
  }
}

@media screen and (768px < width <= 1024px){
  .contents_container{
    padding: 0 2rem;
    width: 100%;
  }
  nav a{
    margin: 0 5px;
    padding: 2px 8px;
  }
}