*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

header{
  background-color: rgb(210, 255, 255);
  padding: 3px 10vw;
}

header img{
  width: 140px;
  height: auto;
}

main{
  background-color: green;
}

footer{
  background-color: blue;
}

footer h2{
  color: white;
  text-align: center;
  padding: 10px;
}

